In [110]:
import pandas as pd

food_balance_datasets = pd.read_csv(
    "quiz_data/FoodBalanceSheets_E_Africa_NOFLAG.csv", 
    encoding='latin-1'
)

# How would you check for the number of rows and columns in a pandas DataFrame named df?
    
food_balance_datasets.shape

(60943, 12)

In [119]:
## i personally like all my column names in lower case when carrying out analyis, i will change it back later

old_names = food_balance_datasets.columns
new_names = dict(zip(old_names, map(lambda x: x.lower(), old_names)))

food_balance_datasets.rename(columns=new_names, inplace=True)

food_balance_datasets.head()

In [85]:
#question 1 

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ["Age", "Nationality", "Overall"]

pd.DataFrame(lst, columns = col, index =[i for i in range(1,4)])
pd.DataFrame(lst, columns = col, index =[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [86]:
# question 3

madagascar_data = food_balance_datasets.loc[list(food_balance_datasets['area'] == "Madagascar")]
madagascar_data.groupby(['element'])['y2015'].sum()

element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: y2015, dtype: float64

In [87]:
# question 4

food_balance_datasets.groupby(["area"])["y2017"].sum()

area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: y2017, dtype: float64

In [88]:
#question 5

food_balance_datasets.groupby(['element'])['y2017'].sum().sum()

8375729.1899999995

In [91]:
# question 8

food_balance_datasets.groupby(['item'])['y2015'].sum()
food_balance_datasets.groupby(['item'])['y2018'].sum()

item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: y2018, Length: 119, dtype: float64

In [92]:
#question 10

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  
# Which of these Areas had the 7th lowest sum in 2017?

food_balance_datasets.groupby(['area'])['y2017'].sum().sort_values()[:7]

area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: y2017, dtype: float64

In [93]:
# What is the total number of unique countries in the dataset?

food_balance_datasets['area'].nunique()

49

In [146]:
# 18

years = ['y2014', "y2015", "y2016", "y2017"]

food_balance_datasets[['element'] + years].groupby("element").sum().sort_values(by = years)

,y2014,y2015,y2016,y2017
element,,,,
Tourist consumption,416.00,349.00,89.00,91.00
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45
Seed,21922.92,23976.82,23389.20,24870.14
Residuals,30149.00,30045.00,37224.00,35500.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04
Stock Variation,58749.83,34910.99,33140.12,54316.91
Other uses (non-food),78718.13,66254.41,69563.68,91645.97
Export Quantity,150020.64,157614.47,151920.46,182338.80
Losses,153223.00,155439.00,157787.00,160614.00
Feed,216927.89,225050.22,228958.65,223705.68
Import Quantity,274144.48,267018.46,286582.78,294559.09
Processing,282923.00,287929.00,280631.00,292836.00
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00
Food,1212332.49,1232361.10,1247022.17,1258888.28
Production,1931287.75,1947019.39,1943537.15,2030056.89
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10

In [148]:
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

food_balance_datasets.groupby(['element'])['y2017'].sum()

element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: y2017, dtype: float64

In [134]:
#19
food_balance_datasets.describe()

,area code,item code,element code,y2014,y2015,y2016,y2017,y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [135]:
#20

food_balance_datasets.isnull().sum()

area code          0
area               0
item code          0
item               0
element code       0
element            0
unit               0
y2014           1589
y2015           1548
y2016           1535
y2017           1506
y2018           1436
dtype: int64